body {
    background-image: url(./images/pastry-sweet-bakery-seamless-pattern-600nw-2143884193.webp);
}

header {
    background-color: #AB886D;
    font-family: "Montserrat", sans-serif;
}

.cont-logo {
    width: 100px;
}

.carousel-prod {
    width: 400px;

    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: "Montserrat" sans-serif;
    font-size: 60px;

}
.menulist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    color: black;
    font-family: "Montserrat", sans-serif;
}
.menulist div h2 {

    background-color: #fcebd7;
}
.menulist div p {
    font-size: larger;
    background-color: #fcebd7;
}

.boton-agregar {
    background-color: #96CEB4;
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.boton-agregar:hover {
    background-color: #FFEEAD;
    transform: scale(1.1);
}

.boton-agregar:active {
    transform: scale(1);
}

.producto-imagen {
    width: 200px;
}

.carrito {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Montserrat", sans-serif;
}

.productos-carrito {
    list-style-type: none;
    padding-left: 0;
}

.productos-carrito li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button.carrito,
button.eliminar {
    background-color: #FF6347;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
}

button.carrito:hover,
button.eliminar:hover {
    background-color: #FF4500;
}

.carrito {
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carrito h3 {
    margin-top: 0;
}

.carrito .total {
    font-weight: bold;
    margin-top: 1rem;
}

.carrito li {
    background-color: #FFEEAD;
    border: 2px solid black;
    border-radius: 10px;
}

.carrito .boton-eliminar {
    background-color: #dc3545;
    border: none;
    cursor: pointer;
    margin-left: 0.5rem;
    border-radius: 5px;
}

.carrito .boton-eliminar:hover {
    background-color: #c82333;
}

.total {
    color: black;

}

.whatsapp {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}

.instagram {
    background-color: #FFAD60;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}